<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.yto.logrocket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>

        <provider
            android:name=".provider.LogRocketProvider"
            android:authorities="${applicationId}.FloatLogProvider"
            android:exported="false" />

    </application>

</manifest>